In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib

In [2]:
# Assign path

path = r'C:\Users\fiyin\OneDrive\Documents\Achievement 6\NYC Motor Vehicle Collisons Analysis'

In [3]:
# Import data

collisions = pd.read_pickle(os.path.join(path, '02. Data', 'Prepared data', 'collisions_explored2b.pkl'))

In [5]:
collisions.shape

(1001137, 31)

In [20]:
collisions.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,PERSONS INJURED,PERSONS KILLED,PEDESTRIANS INJURED,...,CYCLISTS KILLED,MOTORISTS INJURED,MOTORISTS KILLED,CAUSE VEHICLE 1,CAUSE VEHICLE 2,VEHICLE 1 TYPE,VEHICLE 2 TYPE,CRASH HOUR,CRASH YEAR,CRASH Y-M
961481,2017-01-01,20:10:00,BRONX,10467.0,40.867820,-73.86345,BARNES AVENUE,2,0,0,...,0,2,0,Other Vehicular,Unspecified,Sedan,Sedan,20,2017,2017-01
961564,2017-01-01,15:00:00,BROOKLYN,11205.0,40.694042,-73.96511,NaN,0,0,0,...,0,0,0,Unspecified,NaN,Sedan,NaN,15,2017,2017-01
967179,2017-01-01,04:30:00,NaN,NaN,40.601585,-74.08936,GATEWAY DRIVE,0,0,0,...,0,0,0,Alcohol Involvement,Unspecified,Sedan,Sedan,4,2017,2017-01
967143,2017-01-01,00:00:00,NaN,NaN,40.772327,-73.94531,FDR DRIVE,0,0,0,...,0,0,0,Outside Car Distraction,Unspecified,Sedan,Sedan,0,2017,2017-01
967082,2017-01-01,17:00:00,MANHATTAN,10028.0,40.774292,-73.95127,EAST 82 STREET,0,0,0,...,0,0,0,Driver Inattention/Distraction,Unspecified,Station Wagon/Sport Utility Vehicle,NaN,17,2017,2017-01

In [8]:
##collisions['LOCATION'] = collisions.LOCATION.str.strip('()')

In [4]:
collisions.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'PERSONS INJURED', 'PERSONS KILLED',
       'PEDESTRIANS INJURED', 'PEDESTRIANS KILLED', 'CYCLISTS INJURED',
       'CYCLISTS KILLED', 'MOTORISTS INJURED', 'MOTORISTS KILLED',
       'CAUSE VEHICLE 1', 'CAUSE VEHICLE 2', 'CAUSE VEHICLE 3', 'COLLISION_ID',
       'VEHICLE 1 TYPE', 'VEHICLE 2 TYPE', 'VEHICLE 3 TYPE', 'CRASH HOUR',
       'CRASH YEAR', 'INJURED TOTAL', 'KILLED TOTAL', 'INJURED BOROUGH TOTAL',
       'KILLED BOROUGH TOTAL'],
      dtype='object')

In [4]:
# Drop inessential columns

collisions = collisions.drop(columns = ['CROSS STREET NAME', 'OFF STREET NAME', 'COLLISION_ID', 'INJURED TOTAL',
                                        'KILLED TOTAL', 'INJURED BOROUGH TOTAL', 'KILLED BOROUGH TOTAL',
                                        'CAUSE VEHICLE 3', 'VEHICLE 3 TYPE', 'LOCATION'])

In [7]:
collisions.shape

(1001137, 21)

In [5]:
collisions['MOTORISTS KILLED'].sum()

673

In [6]:
collisions['PEDESTRIANS KILLED'].sum()

742

In [7]:
collisions['CYCLISTS KILLED'].sum()

133

In [8]:
# Sort the date values in asscending order

collisions = collisions.sort_values(by = 'CRASH DATE')

In [9]:
# Change data type of CRASH DATE to string 

collisions['CRASH DATE'] = collisions['CRASH DATE'].astype('str')

In [10]:
# New column to extract only the year and month values from the CRASH DATE variable

collisions['CRASH Y-M'] = collisions['CRASH DATE'].str[:-3]

In [11]:
# New column to extract only the month values from the CRASH Y-M variable

collisions['CRASH MONTH'] = collisions['CRASH Y-M'].str[5:]

In [11]:
collisions['CRASH MONTH'].value_counts(dropna = False).sort_index()

01    82600
02    75949
03    84555
04    74278
05    87353
06    89406
07    85866
08    84615
09    84753
10    87632
11    82599
12    81531
Name: CRASH MONTH, dtype: int64

In [12]:
collisions.loc[collisions['CRASH MONTH'] == '01', 'CRASH MONTH'] = 'January'
collisions.loc[collisions['CRASH MONTH'] == '02', 'CRASH MONTH'] = 'February'
collisions.loc[collisions['CRASH MONTH'] == '03', 'CRASH MONTH'] = 'March'
collisions.loc[collisions['CRASH MONTH'] == '04', 'CRASH MONTH'] = 'April'
collisions.loc[collisions['CRASH MONTH'] == '05', 'CRASH MONTH'] = 'May'
collisions.loc[collisions['CRASH MONTH'] == '06', 'CRASH MONTH'] = 'June'
collisions.loc[collisions['CRASH MONTH'] == '07', 'CRASH MONTH'] = 'July'
collisions.loc[collisions['CRASH MONTH'] == '08', 'CRASH MONTH'] = 'August'
collisions.loc[collisions['CRASH MONTH'] == '09', 'CRASH MONTH'] = 'September'
collisions.loc[collisions['CRASH MONTH'] == '10', 'CRASH MONTH'] = 'October'
collisions.loc[collisions['CRASH MONTH'] == '11', 'CRASH MONTH'] = 'November'
collisions.loc[collisions['CRASH MONTH'] == '12', 'CRASH MONTH'] = 'December'

# Find average incidents per month by covid before and after

In [15]:
collisions.shape

(1001137, 23)

In [11]:
collisions['CRASH YEAR'].value_counts().sort_index()

2017    231007
2018    231564
2019    211486
2020    112915
2021    110546
2022    103619
Name: CRASH YEAR, dtype: int64

In [13]:
collisions['CRASH YEAR'] = collisions['CRASH YEAR'].astype('int64')

In [14]:
collisions.loc[collisions['CRASH YEAR'] < 2020, 'COVID FLAG'] = 'Before Covid'
collisions.loc[collisions['CRASH YEAR'] >= 2020, 'COVID FLAG'] = 'Covid and after'

In [15]:
collisions['COVID FLAG'].value_counts(normalize = True) * 100

Before Covid       67.329147
Covid and after    32.670853
Name: COVID FLAG, dtype: float64

In [22]:
Before = collisions.loc[collisions['COVID FLAG'] == 'Before Covid']

In [23]:
Before.shape

(674057, 26)

In [26]:
Before['injuries flag'].value_counts(normalize = True) * 100

0.0    79.907931
1.0    20.092069
Name: injuries flag, dtype: float64

In [27]:
Before['deaths flag'].value_counts(normalize = True) * 100

0.0    99.894371
1.0     0.105629
Name: deaths flag, dtype: float64

In [24]:
After = collisions.loc[collisions['COVID FLAG'] == 'Covid and after']

In [25]:
After.shape

(327080, 26)

In [28]:
After['injuries flag'].value_counts(normalize = True) * 100

0.0    66.111349
1.0    33.888651
Name: injuries flag, dtype: float64

In [29]:
After['deaths flag'].value_counts(normalize = True) * 100

0.0    99.75266
1.0     0.24734
Name: deaths flag, dtype: float64

In [17]:
collisions.shape

(1001137, 24)

In [16]:
collisions.loc[collisions['PERSONS INJURED'] > 0, 'injuries flag'] = 1
collisions.loc[collisions['PERSONS INJURED'] == 0, 'injuries flag'] = 0

collisions.loc[collisions['PERSONS KILLED'] > 0, 'deaths flag'] = 1
collisions.loc[collisions['PERSONS KILLED'] == 0, 'deaths flag'] = 0

In [17]:
collisions['injuries flag'].value_counts(normalize = True) * 100

0.0    75.40047
1.0    24.59953
Name: injuries flag, dtype: float64

In [17]:
# Put in first notebook

collisions['deaths flag'].value_counts(normalize = True) * 100

0.0    99.848073
1.0     0.151927
Name: deaths flag, dtype: float64

In [26]:
collisions.shape

(1001137, 26)

In [18]:
collisions.loc[collisions['CAUSE VEHICLE 1'] != 'Alcohol Involvement', 'DUI flag'] = 0
collisions.loc[collisions['CAUSE VEHICLE 1'] == 'Alcohol Involvement', 'DUI flag'] = 1

In [21]:
collisions['DUI flag'].value_counts(dropna = False)

0.0    989076
1.0     12061
Name: DUI flag, dtype: int64

In [25]:
Alcohol = collisions.loc[collisions['DUI flag'] == 1]

In [26]:
Alcohol.shape

(12061, 28)

In [27]:
Alcohol['injuries flag'].value_counts(normalize = True) * 100

0.0    67.896526
1.0    32.103474
Name: injuries flag, dtype: float64

In [32]:
Alcohol['PERSONS INJURED'].sum()

6026

In [34]:
Alcohol['MOTORISTS INJURED'].sum()

5473

In [38]:
Alcohol.loc[Alcohol['PERSONS INJURED'] > 0, 'inj'] = 1
Alcohol.loc[Alcohol['PERSONS INJURED'] == 0, 'inj'] = 0

Alcohol.loc[Alcohol['PERSONS KILLED'] > 0, 'dea'] = 1
Alcohol.loc[Alcohol['PERSONS KILLED'] == 0, 'dea'] = 0

C:\Users\fiyin\AppData\Local\Temp\ipykernel_8320\1305447274.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Alcohol.loc[Alcohol['PERSONS KILLED'] > 0, 'dea'] = 1

In [37]:
Alcohol['inj'].value_counts(normalize = True) * 100

0.0    67.896526
1.0    32.103474
Name: inj, dtype: float64

In [39]:
Alcohol['dea'].value_counts(normalize = True) * 100

0.0    99.535694
1.0     0.464306
Name: dea, dtype: float64

In [33]:
Alcohol['PERSONS KILLED'].sum()

56

In [28]:
Alcohol['deaths flag'].value_counts(normalize = True) * 100

0.0    99.535694
1.0     0.464306
Name: deaths flag, dtype: float64

In [19]:
collisions['DUI'] = collisions.groupby(['CRASH HOUR'])['DUI flag'].transform(np.sum)

In [44]:
# Casualties

collisions.loc[collisions['PERSONS INJURED'] <= 2, 'injury flag'] = 'Low'
collisions.loc[(collisions['PERSONS INJURED'] > 2) & (collisions['PERSONS INJURED'] <= 5), 'injury flag'] = 'Medium' 
collisions.loc[collisions['PERSONS INJURED'] > 5, 'injury flag'] = 'High'

In [45]:
collisions['injury flag'].value_counts(dropna = False)

Low       982477
Medium     17514
High        1146
Name: injury flag, dtype: int64

In [46]:
collisionsHigh = collisions.loc[collisions['injury flag'] == 'High']

In [48]:
collisionsHigh.shape

(1146, 30)

In [50]:
collisionsHigh.describe()

,LATITUDE,LONGITUDE,PERSONS INJURED,PERSONS KILLED,PEDESTRIANS INJURED,PEDESTRIANS KILLED,CYCLISTS INJURED,CYCLISTS KILLED,MOTORISTS INJURED,MOTORISTS KILLED,CRASH HOUR,CRASH YEAR,injuries flag,deaths flag,DUI flag,DUI
count,1027.000000,1027.000000,1146.000000,1146.000000,1146.000000,1146.000000,1146.000000,1146.000000,1146.000000,1146.000000,1146.000000,1146.000000,1146.0,1146.000000,1146.000000,1146.000000
mean,40.526934,-73.544464,7.191972,0.020942,0.165794,0.008726,0.006108,0.001745,7.013962,0.010471,13.742583,2019.130890,1.0,0.009599,0.030541,490.039267
std,2.837398,5.147376,2.428320,0.294783,1.114611,0.191324,0.077950,0.059080,2.495722,0.138218,6.685777,1.697253,0.0,0.097544,0.172146,299.240972
min,0.000000,-74.235115,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.0,0.000000,0.000000,122.000000
25%,40.662850,-73.946570,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,9.000000,2018.000000,1.0,0.000000,0.000000,203.000000
50%,40.702293,-73.905396,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,15.000000,2019.000000,1.0,0.000000,0.000000,398.000000
75%,40.808217,-73.849252,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,19.000000,2021.000000,1.0,0.000000,0.000000,781.000000
max,40.903040,0.000000,40.000000,8.000000,27.000000,6.000000,1.000000,2.000000,40.000000,3.000000,23.000000,2022.000000,1.0,1.000000,1.000000,1142.000000

In [20]:
collisions.to_csv(os.path.join(path, '02. Data', 'Prepared data', 'collisions_for_viz.csv'), index = False)

In [58]:
import json

with open(r'C:\Users\fiyin\OneDrive\Documents\Achievement 6\Borough Boundaries.geojson') as f:
    
    data = json.load(f)

rows = []

for feature in data['features']:
    row = {
            'borough': feature['properties']['boro_name'],
            'coordinates': feature['geometry']['coordinates']
          }
    rows.append(row)

In [60]:
df = pd.DataFrame(rows)

In [61]:
df.shape

(5, 2)

In [62]:
df.head()

         borough                                        coordinates
0  Staten Island  [[[[-74.05050806403247, 40.56642203416086], [-...
1          Bronx  [[[[-73.89680883223778, 40.79580844515982], [-...
2       Brooklyn  [[[[-73.86327471071958, 40.583876848531844], [...
3      Manhattan  [[[[-74.01092841268031, 40.68449147254299], [-...
4         Queens  [[[[-73.82644661516991, 40.59052744193831], [-...

In [63]:
df['coordinates'] = df['coordinates'].astype('str')

In [64]:
df['coordinates'] = df['coordinates'].str[3:]

In [65]:
df.head()

         borough                                        coordinates
0  Staten Island  [-74.05050806403247, 40.56642203416086], [-74....
1          Bronx  [-73.89680883223778, 40.79580844515982], [-73....
2       Brooklyn  [-73.86327471071958, 40.583876848531844], [-73...
3      Manhattan  [-74.01092841268031, 40.68449147254299], [-74....
4         Queens  [-73.82644661516991, 40.59052744193831], [-73....

In [14]:
import json

with open(r'C:\Users\fiyin\OneDrive\Documents\Achievement 6\Borough Boundaries.geojson') as f:
    
    data = json.load(f)

In [17]:
from pandas.io.json import json_normalize
df = json_normalize(data["features"])

coords = 'properties.geometry.coordinates'

df2 = (df[coords].apply(lambda r: [(i[0],i[1]) for i in r[0]])
           .apply(pd.Series).stack()
           .reset_index(level=1).rename(columns={0:coords,"level_1":"point"})
           .join(df.drop(coords,1), how='left')).reset_index(level=0)

df2[['lat','long']] = df2[coords].apply(pd.Series)

df2

C:\Users\fiyin\AppData\Local\Temp\ipykernel_19636\3684531711.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  df = json_normalize(data["features"])

KeyError: 'properties.geometry.coordinates'